<label>{{ 'page.form.keywords.label'|trans }}</label>
<div class="controls">
	<span  class="span4">{{ obj.keywords }}</span>
	<a class="btn btn-small dinamic" data-toggle="ajax-control" rel="page-keywords" href="{{ path('Araneum_pages_ajax_keywords_edit', {'id': obj.id}) }}">{{ 'default.label.edit'|trans }}</a>
</div>