<div class="page-header">
	<h2>{{ 'page.elements.layout'|trans }}</h2>
</div>
<div class="details-row" id="page-layout">
	{% include 'ArnmPagesBundle:Pages/Ajax:layout.show.html.twig' with {'obj':obj} %}
</div>
