<div class="page-header">
	<h2>{{ 'page.elements.template'|trans }}</h2>
</div>
<div class="details-row" id="page-template">
	{% include 'ArnmPagesBundle:Pages/Ajax:template.show.html.twig' with {'obj':obj} %}
</div>
<div id="template-organizer">
	
</div>
