<label>{{ 'page.form.title.label'|trans }}</label>
<div class="controls">
	<span  class="span4">{{ obj.title }}</span>
	<a class="btn btn-small dinamic" data-toggle="ajax-control" rel="page-title" href="{{ path('Araneum_pages_ajax_title_edit', {'id': obj.id}) }}">{{ 'default.label.edit'|trans }}</a>
</div>