{% extends layout %}

{% block title %}
	{{ page.title }}
{% endblock %}


{% block content %}
	<div class="row content-wrapper">
		<div class="row">
			<div class="home-left">{% render "ArnmPagesBundle:Page:widgetList" with {'page': page, 'areaCode': 'home-left'} %}</div>
			<div class="home-right">{% render "ArnmPagesBundle:Page:widgetList" with {'page': page, 'areaCode': 'home-right'} %}</div>
		</div>
		<div class="home-bottom">{% render "ArnmPagesBundle:Page:widgetList" with {'page': page, 'areaCode': 'home-bottom'} %}</div>
	</div>
{% endblock %}