{% extends layout %}

{% block title %}
	{{ page.title }}
{% endblock %}


{% block content %}
	<div class="column single-column-area">{% render "ArnmPagesBundle:Page:widgetList" with {'page': page, 'areaCode': 'single-column-area'} %}</div>
{% endblock %}