{% extends layout %}

{% block title %}
	{{ page.title }}
{% endblock %}


{% block content %}
	<div class="column span3 area1">{% render "ArnmPagesBundle:Page:widgetList" with {'page': page, 'areaCode': 'area1'} %}</div>
	<div class="column span4 area2">{% render "ArnmPagesBundle:Page:widgetList" with {'page': page, 'areaCode': 'area2'} %}</div>
{% endblock %}