{% extends 'ArnmAraneumBundle::araneum.html.twig' %}

{% block title %}
	{{ parent() }} | {{ 'page.form.title.update'|trans }}
{% endblock %}

{% block ngapp %}ng-app="pageApp"{% endblock %}

{% block fullcontent %}
    <input type="hidden" ng-init="pageId = {{ page.id }}; restBaseUrl = '{{ path('araneum_page_rest_get', { 'id': page.id }) }}';" />
	<div id="page-admin-content" ng-view>
	</div>
{% endblock %}