<div class="row show-grid">
	<div class="row show-grid">
		<div class="column span5 area" id="home-left">{% render "ArnmPagesBundle:TemplateOrganizer:widgetList" with {'page': page, 'areaCode': 'home-left'} %}</div>
		<div class="column span7 area pull-right" id="home-right">{% render "ArnmPagesBundle:TemplateOrganizer:widgetList" with {'page': page, 'areaCode': 'home-right'} %}</div>
	</div>
	<div class="column span12 area" id="home-bottom">{% render "ArnmPagesBundle:TemplateOrganizer:widgetList" with {'page': page, 'areaCode': 'home-bottom'} %}</div>
</div>
