<div class="column span3 area" id="area1">{% render "ArnmPagesBundle:TemplateOrganizer:widgetList" with {'page': page, 'areaCode': 'area1'} %}</div>
<div class="column span4 area" id="area2">{% render "ArnmPagesBundle:TemplateOrganizer:widgetList" with {'page': page, 'areaCode': 'area2'} %}</div>
